.banner img {
  background-size: cover;
  opacity: 0.6;
}

.banner {
  width: 700px;
  height: 300px;
  align-items: center;
  text-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  margin: 0 auto;
  padding: 100px;
}
.banner h1 {
  font-size: 60px;
}

.banner p {
  font-weight: bold;
  font-size: 20px;
}

.banner a {
  border-radius: 4px;
  background-color: orange;
  color: white;
  padding: 4px 12px;
}
