.cards img {
  height: 150px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.card {
  background: white;
  padding: 8px 16px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  margin: 0px 8px;
}

.card a {
  border-radius: 3px;
  padding: 2px 4px;
  background-color: grey
  color:white;
}
